
<div class="container">
  <h1>ngx-svg-icon Samples</h1>

  <section>
    <h2>Using icons by src property</h2>
    <div class="icons-grid">
      <svg-icon src="assets/whatsapp.svg" [svgStyle]="{ width: '50px' }"></svg-icon>
      <svg-icon src="assets/icons/comments.svg" [svgStyle]="{ width: '50px' }"></svg-icon>
    </div>
  </section>
  <hr>

  <section>
    <h2>Using icons by preregistered with name using SvgIconRegistryService</h2>
    <div class="icons-grid">
      <svg-icon name="close" svgClass="icon"></svg-icon>
      <svg-icon name="comments" svgClass="icon"></svg-icon>
      <svg-icon name="home" svgClass="icon"></svg-icon>
      <svg-icon name="login" svgClass="icon"></svg-icon>
      <svg-icon name="logout" svgClass="icon"></svg-icon>
      <svg-icon name="map" svgClass="icon"></svg-icon>
      <svg-icon name="menu" svgClass="icon"></svg-icon>
      <svg-icon name="moon" svgClass="icon"></svg-icon>
      <svg-icon name="sun" svgClass="icon"></svg-icon>
      <svg-icon name="notification" svgClass="icon"></svg-icon>
      <svg-icon name="settings" svgClass="icon"></svg-icon>
      <svg-icon name="qrcode" svgClass="icon"></svg-icon>
      <svg-icon name="whatsapp" svgClass="icon"></svg-icon>
      <svg-icon name="twitter" svgClass="icon"></svg-icon>
      <svg-icon name="facebook" svgClass="icon"></svg-icon>
      <svg-icon name="snapchat" svgClass="icon"></svg-icon>
      <svg-icon name="instagram" svgClass="icon"></svg-icon>
      <svg-icon name="plus" svgClass="icon"></svg-icon>
      <svg-icon name="error" svgClass="icon"></svg-icon>
      <svg-icon name="warning" svgClass="icon"></svg-icon>
      <svg-icon name="success" svgClass="icon"></svg-icon>
      <svg-icon name="info" svgClass="icon"></svg-icon>
    </div>
  </section>
</div>
